<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Game Hub</title>
  </head>
  <body>
    <div id="app">
      <header
        class="gradient bg-gris h-[6rem] w-full gap-4 relative flex items-center"
      >
        <!--LOGO -->
        <div class="w-24 ml-4">
          <img src="assets/images/SXESlogo.png" alt="" />
        </div>

        <!--MENU HAMBURGUESA -->
        <div
          class="hamburg flex justify-right w-8 absolute right-10 top-8 md:hidden lg:hidden"
          v-if="navMenu == false"
          @click.prevent="showMenu()"
        >
          <img class="" src="assets/images/menuHamb.png" alt="" />
        </div>

        <!--OPCION LOGIN -->
        <div
          class="login text-white text-sm absolute top-[0.56em] right-8 gap-2 items-center"
        >
          <p
            class="cursor-pointer bg-gris py-[0.2rem] px-2 rounded-md"
            @click.prevent="formLogIn()"
          >
            Log In
          </p>
          <p class="cursor-pointer" @click.prevent="formSignUp()">Sign Up</p>
        </div>

        <!--NAVBAR ESCRITORIO -->
        <div class="navBar">
          <nav
            class="flex justify-around pb-2 text-white font-semibold text-lg w-[80%] absolute bottom-0"
          >
            <a href="#">Store</a>
            <a href="#">My account</a>
            <a href="#">Cart</a>
            <a href="#" class="">About Us</a>
          </nav>
        </div>

        <!--NAVBAR HAMBURGUESA -->
        <div v-if="navMenu == true">
          <nav
            class="pt-10 gradient text-white w-[15rem] md:w-[30%] h-[24rem] flex flex-col text-left absolute right-0 top-0 bg-gris gap-8 justify-center"
          >
            <a href="#" class="pl-6">Store</a>
            <a href="#" class="pl-6">My account</a>
            <a href="#" class="pl-6">Cart</a>
            <a href="#" class="pl-6">About Us</a>

            <div
              class="flex flex-col border-t-[0.1px] border-white/50 pt-4 gap-4"
            >
              <a href="#" class="pl-6" @click.prevent="formLogIn()">Log In</a>
              <a href="#" class="pl-6" @click.prevent="formSignUp()">Sign up</a>
            </div>

            <img
              src="assets/images/closeMenu.png"
              alt=""
              class="w-6 absolute right-6 top-6"
              @click.prevent="showMenu()"
            />
          </nav>
        </div>
      </header>

      <main class="flex flex-col items-center h-full mb-16 gap-12">
        <img
          id="banner"
          src="https://assets.xboxservices.com/assets/58/81/58819069-871d-4aea-baee-52bfd15d1977.jpg?n=Fortnite_Sneaky-Slider-1084_876951_1600x675.jpg"
          alt=""
          class="h-64 w-full object-cover object-top"
        />

        <a href="">
          <img
            src="assets/images/StoreIndex.png"
            alt=""
            class="object-cover"
            id="storeButton"
          />
        </a>

        <!--SECCION ESCRITORIO -->

        <p class="text-white">Welcome, {{name}}  </p>

        <div id="desktopSections" class="flex flex-col gap-24">
          <section
            id=""
            class="cardContainer flex flex-col items-center gap-10"
          >
            <h1 class="gamer text-3xl font-semibold text-amarillo">NEW</h1>

            <div class="bg-gris rounded-md h-[30rem] w-[100%]"></div>
            <div class="cardContainer pr-4">
              <div class="card bg-gris rounded-md h-[15rem] w-[20rem]"></div>
              <div class="card bg-gris rounded-md h-[15rem] w-[20rem]"></div>
              <div class="card bg-gris rounded-md h-[15rem] w-[20rem]"></div>
              <div class="card bg-gris rounded-md h-[15rem] w-[20rem]"></div>
              <div class="card bg-gris rounded-md h-[15rem] w-[20rem]"></div>
              <div class="card bg-gris rounded-md h-[15rem] w-[20rem]"></div>
            </div>
          </section>

          <section
            id=""
            class="cardContainer flex flex-col font-semibold text-amarillo items-center gap-4"
          >
            <h1 class="gamer text-3xl">SPECIAL OFFERS</h1>

            <div class="cardContainer pr-4 w-[60rem]">
              <div class="card bg-gris rounded-md h-[20rem] w-[30rem]"></div>
              <div class="card bg-gris rounded-md h-[20rem] w-[30rem]"></div>
              <div class="card bg-gris rounded-md h-[20rem] w-[30rem]"></div>
              <div class="card bg-gris rounded-md h-[20rem] w-[30rem]"></div>
              <div class="card bg-gris rounded-md h-[20rem] w-[30rem]"></div>
              <div class="card bg-gris rounded-md h-[20rem] w-[30rem]"></div>
            </div>
          </section>

          <section
            id="nuevos"
            class="cardContainer flex flex-col font-semibold text-amarillo items-center gap-4"
          >
            <h1 class="gamer text-3xl">BROWSE BY CATEGORY</h1>
            <div class="cardContainer pr-4 w-[60rem]">
              <div class="card bg-gris rounded-md h-[15rem] w-[15rem]"></div>
              <div class="card bg-gris rounded-md h-[15rem] w-[15rem]"></div>
              <div class="card bg-gris rounded-md h-[15rem] w-[15rem]"></div>
              <div class="card bg-gris rounded-md h-[15rem] w-[15rem]"></div>
              <div class="card bg-gris rounded-md h-[15rem] w-[15rem]"></div>
              <div class="card bg-gris rounded-md h-[15rem] w-[15rem]"></div>
            </div>
          </section>
        </div>

        <!--SECCION MOBILE -->

        <div id="mobileSections">
          <section
            id="nuevos"
            class="cardContainer flex flex-col font-semibold text-amarillo items-center gap-4"
          >
            <h1 class="gamer text-xl">NEW</h1>
            <div class="cardContainer pr-4">
              <div class="card bg-gris rounded-md h-[15rem] w-[15rem]"></div>
              <div class="card bg-gris rounded-md h-[15rem] w-[15rem]"></div>
              <div class="card bg-gris rounded-md h-[15rem] w-[15rem]"></div>
              <div class="card bg-gris rounded-md h-[15rem] w-[15rem]"></div>
              <div class="card bg-gris rounded-md h-[15rem] w-[15rem]"></div>
              <div class="card bg-gris rounded-md h-[15rem] w-[15rem]"></div>
            </div>
          </section>

          <section
            id="ofertas"
            class="cardContainer flex flex-col font-semibold text-amarillo items-center gap-4"
          >
            <h1 class="gamer text-xl">SPECIAL OFFERS</h1>
            <div class="cardContainer gap-4">
              <div class="card bg-gris rounded-md h-[15rem] w-[15rem]"></div>
              <div class="card bg-gris rounded-md h-[15rem] w-[15rem]"></div>
              <div class="card bg-gris rounded-md h-[15rem] w-[15rem]"></div>
              <div class="card bg-gris rounded-md h-[15rem] w-[15rem]"></div>
              <div class="card bg-gris rounded-md h-[15rem] w-[15rem]"></div>
              <div class="card bg-gris rounded-md h-[15rem] w-[15rem]"></div>
            </div>
          </section>
          <section
            id="nuevos"
            class="cardContainer flex flex-col font-semibold text-amarillo items-center gap-4"
          >
            <h1 class="gamer text-xl">BROWSE BY CATEGORY</h1>
            <div class="cardContainer pr-4 w-[60rem]">
              <div class="card bg-gris rounded-md h-[15rem] w-[15rem]"></div>
              <div class="card bg-gris rounded-md h-[15rem] w-[15rem]"></div>
              <div class="card bg-gris rounded-md h-[15rem] w-[15rem]"></div>
              <div class="card bg-gris rounded-md h-[15rem] w-[15rem]"></div>
              <div class="card bg-gris rounded-md h-[15rem] w-[15rem]"></div>
              <div class="card bg-gris rounded-md h-[15rem] w-[15rem]"></div>
            </div>
          </section>
        </div>

        <!-- REGISTER -->

        

        <!-- LOG IN -->
      </main>

      <footer class="bg-gris h-[5rem]"></footer>

      <template class="absolute inset-0 bg-black/80 w-full h-full" v-if="logIn">
        <form
          action=""
          class="form gradient flex flex-col bg-amarillo border-md p-12 gap-4 w-[25rem] h-[30rem] z-50"
        >
          <img
            src="assets/images/closeMenu.png"
            alt=""
            class="w-4 absolute right-6 top-4"
            @click.prevent="formLogIn()"
          />

          <div class="formNav mb-8 text-white">
            <button class="w-1/2 border-b-[0.2rem] border-amarillo pb-2">
              LOG IN
            </button>
            <button class="w-1/2" @click.prevent="formSignUp()">SIGN UP</button>
          </div>

          <div class="flex flex-col text-center gap-1 w-[100%]">
            <label for="" class="ml-4 text-left text-xs text-white">
              EMAIL
            </label>
            <input
              type="text"
              class="text-azulOscuro/90 font-semibold text-center" v-model="email"
            />
          </div>

          <div class="flex flex-col text-center gap-1 mt-4 w-[100%]">
            <label for="" class="ml-4 text-left text-xs text-white">
              PASSWORD</label
            >
            <input
              type="password"
              name=""
              class="text-azulOscuro text-center" v-model="password"
            />
          </div>

          <p class="text-sm text-red-400">{{error}}</p>

          <a href="" class="text-xs text-white font-semibold">
            ¿Forgot your Password?</a
          >

          <button class="bg-amarillo p-2 text-negro w-[90%] mt-2 font-semibold" @click.prevent="login()" >
            LOG IN
          </button>
        </form>
    </template>    

        <template class="absolute inset-0 bg-black/80 w-full h-full" v-if="signUp">
            <form
            action=""
            class="form gradient flex flex-col bg-amarillo border-md p-12 gap-4 w-[25rem] h-[30rem] z-50"
           
          >
            <img
              src="assets/images/closeMenu.png"
              alt=""
              class="w-4 absolute right-6 top-4 @"
              @click.prevent="formSignUp()"
            />
            <div class="mb-8 text-white">
              <button class="w-1/2" @click.prevent="formLogIn()">LOG IN</button>
              <button class="border-b-[0.2rem] border-amarillo w-1/2 pb-2">
                SIGN UP
              </button>
            </div>
  
            <div class="flex flex-col gap-1 w-[100%]">
              <label for="" class="ml-4 text-left text-xs text-white">NAME</label>
              <input type="text" class="text-negro font-semibold text-center" v-model="name"/>
            </div>
  
            <div class="flex flex-col gap-1 w-[100%]">
              <label for="" class="ml-4 text-left text-xs text-white"
                >LAST NAME</label
              >
              <input
                type="text"
                class="text-azulOscuro/90 font-semibold text-center" v-model="lastName"
              />
            </div>
  
            <div class="flex flex-col gap-1 w-[100%]">
              <label for="" class="ml-4 text-left text-xs text-white"
                >EMAIL</label
              >
              <input
                type="text"
                class="text-azulOscuro/90 font-semibold text-center" v-model="email"
              />
            </div>
  
            <div class="flex flex-col gap-1 w-[100%]">
              <label for="" class="ml-4 text-left text-xs text-white">
                PASSWORD</label
              >
              <input
                type="password"
                name=""
                class="text-azulOscuro/90 font-semibold text-center" v-model="password"
              />
            </div>
  
            <p class="text-sm text-red-400"></p>
  
            <button class="bg-amarillo p-2 text-negro w-[90%] mt-2 font-semibold" @click.prevent ="register()">
              SIGN UP
            </button>
          </form>


        </template>

       
    
    </div>
  </body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="index.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="taildwind.config.js"></script>
</html>
