body{
    background-color: #151515;
    width: 100vw;
}

@font-face {
    font-family: 'GAMER';
    src: url('assets/tipografias/MachineGunk-nyqg.ttf') format('truetype'); 
  }

  .gamer{
    font-family: GAMER;
    font-weight: 100;
    letter-spacing: 2px;
  }

  .gradient {
    background: rgb(40,40,40);
background: linear-gradient(0deg, rgb(26, 26, 26) 0%, rgba(21,21,21,1) 100%);
  }

  .cardContainer{
    width: 100%;
    
    overflow-x: auto;
    white-space: nowrap;
   
  }

  .card{
    margin-left: 1rem;
   
    display: inline-block;

  }
  


@media screen and (max-width: 768px) {
    .navBar{
        display: none;
    }
    .login{
        display: none;    
}
}

  @media screen and (min-width: 768px)  {
    .login{
        display: flex;
    }

    .hamburg{
        display: none;
        
    }
    
    
    .navBar{
        display: flex;
        
       
        text-align: end;
    
       
    }
    
  }