<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <link rel="shortcut icon" href="../assets/images/SXESlogo.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>AboutUs</title>
</head>

<body>
    <div id="app">
        <header class="gradient bg-gris h-[6rem] w-full gap-4 relative flex items-center">
            <div class="w-24 ml-4">
                <img src="../assets/images/SXESlogo.png" alt="">
            </div>


            <div class="hamburg flex justify-right w-8 absolute right-10 top-8 md:hidden lg:hidden"
                v-if="navMenu == false" @click.prevent="showMenu()">
                <img class="" src="../assets/images/menuHamb.png" alt="menuHamb">
            </div>

            <div class="login text-white text-sm absolute top-[0.56em] right-8  gap-2 items-center">
                <a href="#" class="bg-gris py-[0.2rem] px-2 rounded-md">Log In</a>
                <a href="#">Sign Up</a>

            </div>

            <div class="navBar  ">
                <nav
                    class="flex items-center text-center  justify-around pb-2 text-white font-semibold text-lg w-[80%] absolute bottom-0  ">
                    <a class="hover:bg-amarillo hover:text-negro w-[10rem] h-[2rem] rounded-md"
                        href="../index.html">Home</a>
                    <a class="hover:bg-amarillo hover:text-negro w-[10rem] h-[2rem] rounded-md"
                        href="store.html">Store</a>
                    <a class="hover:bg-amarillo hover:text-negro w-[10rem] h-[2rem] rounded-md" href="profile.html">My
                        account</a>
                    <a class="hover:bg-amarillo hover:text-negro w-[10rem] h-[2rem] rounded-md"
                        href="cart.html">Cart</a>
                    <a class="bg-amarillo text-negro  w-[10rem] h-[2rem] rounded-md" href="aboutUs.html"
                        class="">About
                        Us</a>
                </nav>
            </div>

            <div v-if="navMenu == true">
                <nav
                    class="pt-10 gradient text-white w-[15rem] md:w-[30%] h-[24rem] flex flex-col text-left absolute right-0 top-0 bg-gris gap-8 justify-center ">
                    <a href="../index.html" class="pl-6">Home</a>
                    <a href="store.html" class="pl-6">Store</a>
                    <a href="#" class="pl-6">My Account</a>
                    <a href="cart.html" class="pl-6">Cart</a>
                    <a href="#" class="pl-6">About Us</a>

                    <div class="flex flex-col border-t-[0.1px] border-white/50 pt-4  gap-4">
                        <a href="#" class="pl-6">Log In</a>
                        <a href="#" class="pl-6">Sign up</a>

                    </div>

                    <img src="../assets/images/closeMenu.png" alt="" class="w-6 absolute right-6 top-6"
                        @click.prevent="showMenu()">
                </nav>


            </div>

        </header>


        <main class="flex flex-col items-center h-full mb-16 gap-12">

            <img src="https://assets.xboxservices.com/assets/58/81/58819069-871d-4aea-baee-52bfd15d1977.jpg?n=Fortnite_Sneaky-Slider-1084_876951_1600x675.jpg"
                alt="" class="
            h-64 w-full object-cover object-top">

            <a href="">
                <img src="../assets/images/StoreIndex.png" alt="" class="object-cover">
            </a>

            <div id="headerAboutUS" class="flex items-end">
                <nav class="navAboutUs flex flex-wrap p-5" id="AboutUs">
                    <a href="#AboutUs">About Us</a>
                    <a href="#Salo">Salomón Gutiérrez</a>
                    <a href="#Emi">Emiliano Díaz</a>
                    <a href="#Sofia">Sofia Pincolinni</a>
                    <a href="#Xavi">Xavier Nochelli</a>
                </nav>
            </div>

            <div id="page" class="flex flex-col rounded-md w-[80%] gap-10">

                <!-- Salomón Gutiérrez Section -->
                <section class="sectionAboutUs rounded-xl flex flex-col gap5 bg-slate-500" id="Salo"
                    style="background-image:url(../assets/images/10.png)">

                    <div class="flex flex-col  justify-center items-center gap-5">

                        <div class="flex flex-wrap text-3xl items-center text-center justify-center gap-5">
                            <a class="absolute top-50 right-44 mt-2 mr-2"  href="#AboutUs">
                                <img class="w-10 h-10" src="../assets/images/flecha-hacia-arriba.png" alt="flecha-hacia-arriba">
                            </a>
                        </div>

                        <div class="flex flex-wrap text-3xl items-center text-center justify-center gap-5">
                            <img class="imagePerson  rounded-xl  w-[6rem] h-[6rem]" src="../assets/images/Xavi.jpg"
                                alt="imagePerson">
                            <h1 class="textAboutUs">Salomón Gutiérrez</h1>
                        </div>

                        <div class="flex flex-wrap text-2xl items-center text-center justify-center gap-5">
                            <img class=" w-[6rem] h-[6rem] bg-black rounded-lg" src="../assets/images/logoMH.webp"
                                alt="MindHublogo">
                            <h2 class="textAboutUs">Full Stack JAVA Developer</h2>
                            <p class="textAboutUs">Cohort N° 52</p>
                        </div>

                        <h2 class="textAboutUs">In this proyect Backend Developer</h2>

                        <p class="w-[50%] textAboutUs">Salomón is a creator of our application, working closely with Emiliano on
                            the backend
                            development. His expertise in implementing services and creating solid data models has been
                            crucial to the success of our project. Salomón brings a unique perspective to our team,
                            combining technical skills with a creative mindset.</p>

                    </div>

                    <div class="flex justify-around flex-wrap gap-4">
                        <a class="bg-white rounded-lg" href="http://www.linkedin.com/in/">
                            <img class="text-negro m-2 w-[7rem] h-[7rem]" src="../assets/images/logotipo-de-linkedin.png"
                                alt="LinkedIn logo">
                        </a>
                        <a class="bg-white rounded-lg" href="http://www.github.com">
                            <img class="text-negro m-2 w-[7rem] h-[7rem] rounded-md"
                                src="../assets/images/signo-de-github.png" alt="GitHub logo">
                        </a>
                    </div>

                </section>

                <!-- Emiliano Díaz Section -->
                <section class="sectionAboutUs rounded-xl flex flex-col  gap-7 bg-slate-500" id="Emi"
                    style="background-image:url(../assets/images/12.png)">

                    <div class="flex flex-col justify-center items-center gap-5">

                        <div class="flex flex-wrap text-3xl items-center text-center justify-center gap-5">
                            <a class="absolute top-50 right-44 mt-2 mr-2"  href="#AboutUs">
                                <img class="w-10 h-10" src="../assets/images/flecha-hacia-arriba.png" alt="flecha-hacia-arriba">
                            </a>
                        </div>

                        <div class="flex flex-wrap text-3xl items-center text-center justify-center gap-5">
                            <img class="imagePerson  rounded-xl  w-[6rem] h-[6rem]" src="../assets/images/Xavi.jpg"
                                alt="imagePerson">
                            <h1 class="textAboutUs">Emiliano Díaz</h1>
                        </div>

                        <div class="flex flex-wrap text-2xl items-center text-center justify-center gap-5">
                            <img class=" w-[6rem] h-[6rem] bg-black rounded-lg" src="../assets/images/logoMH.webp"
                                alt="MindHublogo">
                            <h2 class="textAboutUs">Full Stack JAVA Developer</h2>
                            <p class="textAboutUs">Cohort N° 52</p>
                        </div>

                        <h2 class="textAboutUs">In this proyect Backend Developer</h2>

                        <p class="w-[50%] textAboutUs">Emiliano is a passionate backend developer with expertise in Java, creating
                            robust services,
                            models, and controllers. He plays a key role in building the app's core functionalities and
                            ensuring a smooth server-side operation.</p>

                    </div>

                    <div class="flex justify-around flex-wrap gap-4">
                        <a class="bg-white rounded-lg" href="http://www.linkedin.com/in/emiliano-diaz">
                            <img class="text-negro m-2 w-[7rem] h-[7rem]" src="../assets/images/logotipo-de-linkedin.png"
                                alt="LinkedIn logo">
                        </a>
                        <a class="bg-white rounded-lg" href="http://www.github.com">
                            <img class="text-negro m-2 w-[7rem] h-[7rem] rounded-md"
                                src="../assets/images/signo-de-github.png" alt="GitHub logo">
                        </a>
                    </div>

                </section>

                <!-- Sofia Pincolinni Section -->
                <section class="sectionAboutUs rounded-xl flex flex-col gap5 bg-slate-500" id="Sofia"
                    style="background-image:url(../assets/images/13.png)">
                    <div class="flex flex-col justify-center items-center gap-5">

                        <div class="flex flex-wrap text-3xl items-center text-center justify-center gap-5">
                            <a class="absolute top-50 right-44 mt-2 mr-2"  href="#AboutUs">
                                <img class="w-10 h-10" src="../assets/images/flecha-hacia-arriba.png" alt="flecha-hacia-arriba">
                            </a>
                        </div>

                        <div class="flex flex-wrap text-3xl items-center text-center justify-center gap-5">
                            <img class="imagePerson  rounded-xl  w-[6rem] h-[6rem]" src="../assets/images/Xavi.jpg"
                                alt="imagePerson">
                            <h1 class="textAboutUs">Sofia Pincolinni</h1>
                        </div>

                        <div class="flex flex-wrap text-2xl items-center text-center justify-center gap-5">
                            <img class=" w-[6rem] h-[6rem] bg-black rounded-lg" src="../assets/images/logoMH.webp"
                                alt="MindHublogo">
                            <h2 class="textAboutUs">Full Stack JAVA Developer</h2>
                            <p class="textAboutUs">Cohort N° 52</p>
                        </div>

                        <h2 class="textAboutUs">In this proyect Frontend Developer & Designer</h2>

                        <p class="w-[50%] textAboutUs">Sofia is a talented frontend designer and developer, breathing life into our
                            application.
                            With
                            exceptional skills in HTML and design, Sofia creates an engaging and
                            user-friendly
                            experience. Her creative approach and attention to detail ensure each page is visually
                            stunning
                            and functional.</p>

                    </div>

                    <div class="flex justify-around flex-wrap gap-4">
                        <a class="bg-white  rounded-lg" href="http://www.linkedin.com/in/">
                            <img class="text-negro  m-2 w-[7rem] h-[7rem]" src="../assets/images/logotipo-de-linkedin.png"
                                alt="LinkedIn logo">
                        </a>
                        <a class="bg-white rounded-lg" href="http://www.github.com">
                            <img class="text-negro m-2 w-[7rem] h-[7rem] rounded-md"
                                src="../assets/images/signo-de-github.png" alt="GitHub logo">
                        </a>
                    </div>

                </section>

                <!-- Xavier Nochelli Section -->
                <section class="sectionAboutUs rounded-xl flex flex-col gap-7 bg-slate-500" id="Xavi"
                    style="background-image:url(../assets/images/11.png)">

                    <div class="flex flex-col justify-center items-center gap-5">

                        <div class="flex flex-wrap text-3xl items-center text-center justify-center gap-5">
                            <a class="absolute top-50 right-44 mt-2 mr-2"  href="#AboutUs">
                                <img class="w-10 h-10" src="../assets/images/flecha-hacia-arriba.png" alt="flecha-hacia-arriba">
                            </a>
                        </div>

                        <div class="flex flex-wrap text-3xl items-center justify-center gap-5">
                            <img class="imagePerson  rounded-xl  w-[6rem] h-[6rem]" src="../assets/images/Xavi.jpg"
                                alt="imagePerson">
                            <h1 class="textAboutUs">Xavier Nochelli</h1>
                        </div>

                        <div class="flex flex-wrap text-2xl items-center text-center justify-center gap-5">
                            <img class=" w-[6rem] h-[6rem] bg-black rounded-lg" src="../assets/images/logoMH.webp"
                                alt="MindHublogo">
                            <h2 class="textAboutUs">Full Stack JAVA Developer</h2>
                            <p class="textAboutUs">Cohort N° 52</p>
                        </div>

                        <h2 class="textAboutUs">In this proyect Frontend Developer</h2>

                        <p class="w-[50%] textAboutUs">Xavier is a passionate frontend developer focused on creating interactive and
                            appealing
                            interfaces. He works closely with Sofia to implement the application's design using the
                            latest
                            web technologies. Xavier is known for translating design ideas into solid code and
                            contributing
                            to the creation of an exceptional user experience.</p>

                    </div>

                    <div class="flex justify-around flex-wrap gap-4">
                        <a class="bg-white rounded-lg" href="https://www.linkedin.com/in/xavier-nochelli/">
                            <img class="text-negro m-2  w-[7rem] h-[7rem]" src="../assets/images/logotipo-de-linkedin.png"
                                alt="LinkedIn logo">
                        </a>
                        <a class="bg-white rounded-lg" href="https://github.com/Xn0ch3">
                            <img class="text-negro m-2 w-[7rem] h-[7rem] rounded-md"
                                src="../assets/images/signo-de-github.png" alt="GitHub logo">
                        </a>
                    </div>

                </section>
            </div>

    </div>
    </main>

    <footer class="text-amarillo body-font bg-gris h-[5rem] text-center">
        <p class="py-8">Cohort52 Grupo-3 MindHub © 2023 Inc.</p>
    </footer>


    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../javaScript/aboutUs.js"></script>
    <script src="../taildwind.config.js"></script>

</body>

</html>