<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="shortcut icon" href="../assets/images/SXESlogo.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Store</title>
</head>

<body>
    <div id="app">
        <header class="gradient bg-gris h-[6rem] w-full gap-4 relative flex items-center">
            <div class="w-24 ml-4">
                <img src="../assets/images/SXESlogo.png" alt="">
            </div>


            <div class="hamburg flex justify-right w-8 absolute right-10 top-8 md:hidden lg:hidden"
                v-if="navMenu == false" @click.prevent="showMenu()">
                <img class="" src="../assets/images/menuHamb.png" alt="menuHamb">
            </div>

            <div class="login text-white text-sm absolute top-[0.56em] right-8  gap-2 items-center">
                <a href="#" class="bg-gris py-[0.2rem] px-2 rounded-md">Log In</a>
                <a href="#">Sign Up</a>

            </div>

            <div class="navBar  ">
                <nav
                    class="flex items-center text-center  justify-around pb-2 text-white font-semibold text-lg w-[80%] absolute bottom-0  ">
                    <a class="hover:bg-amarillo hover:text-negro w-[10rem] h-[2rem] rounded-md"
                        href="../index.html">Home</a>
                    <a class="hover:bg-amarillo hover:text-negro w-[10rem] h-[2rem] rounded-md"
                        href="./store.html">Store</a>
                    <a class="hover:bg-amarillo hover:text-negro w-[10rem] h-[2rem] rounded-md" href="#">My account</a>
                    <a class="bg-amarillo text-negro  w-[10rem] h-[2rem] rounded-md" href="./cart.html">Cart</a>
                    <a class="hover:bg-amarillo hover:text-negro w-[10rem] h-[2rem] rounded-md" href="#" class="">About
                        Us</a>
                </nav>
            </div>

            <div v-if="navMenu == true">
                <nav
                    class="pt-10 gradient text-white w-[15rem] md:w-[30%] h-[24rem] flex flex-col text-left absolute right-0 top-0 bg-gris gap-8 justify-center ">
                    <a href="#" class="pl-6">Store</a>
                    <a href="#" class="pl-6">My Account</a>
                    <a href="#" class="pl-6">Cart</a>
                    <a href="#" class="pl-6">About Us</a>

                    <div class="flex flex-col border-t-[0.1px] border-white/50 pt-4  gap-4">
                        <a href="#" class="pl-6">Log In</a>
                        <a href="#" class="pl-6">Sign up</a>

                    </div>

                    <img src="../assets/images/closeMenu.png" alt="" class="w-6 absolute right-6 top-6"
                        @click.prevent="showMenu()">
                </nav>


            </div>

        </header>


        <main class="flex flex-col items-center h-full mb-16 gap-12">

            <img src="https://assets.xboxservices.com/assets/58/81/58819069-871d-4aea-baee-52bfd15d1977.jpg?n=Fortnite_Sneaky-Slider-1084_876951_1600x675.jpg"
                alt="" class="
            h-64 w-full object-cover object-top">

            <a href="">
                <img src="../assets/images/StoreIndex.png" alt="" class="object-cover">
            </a>

            <section class=" flex flex-wrap  justify-center  font-semibold text-amarillo  items-center gap-4 ">
                <h1 class="gamer text-xl "></h1>
                <div class="flex flex-wrap  justify-center items-center pr-4">

                    <template v-if="games.length > 0 " v-for="game of games">
                        <!-- flip-card-container -->
                        <div class="flip-card-container">
                            <div class="flip-card">

                                <div class="card-front">
                                    <figure>
                                        <div class="img-bg"></div>
                                        <img src="https://images.unsplash.com/photo-1545436864-cd9bdd1ddebc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                                            alt="Image 2">
                                        <figcaption>{{game.title}}</figcaption>
                                    </figure>

                                    <ul>
                                        <li>{{game.description}}</li>
                                        <li>>{{game.date}}</li>
                                        <li>>{{game.plataforms}}</li>
                                        <li>Detail 4</li>
                                        <li>Detail 5</li>
                                    </ul>
                                </div>

                                <div class="card-back flex flex-col items-center gap-12">
                                    <figure>
                                        <div class="img-bg"></div>
                                        <img src="https://images.unsplash.com/photo-1545436864-cd9bdd1ddebc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                                            alt="image-2">
                                    </figure>

                                    <div class="flex  items-center gap-2">
                                        <img class="h-[4rem] w-[4rem] bg-amarillo" src="../assets/images/AddBuy.png"
                                            alt="AddPurchase">
                                        <button class="p-2">Add to Purchase</button>
                                    </div>

                                    <div class="flex items-center gap-2">
                                        <img class="h-[4rem] w-[4rem] bg-amarillo" src="../assets/images/Purchase.png"
                                            alt="Purchase">
                                        <button class="p-2">Purchase</button>
                                    </div>

                                    <div class="design-container">
                                        <span class="design design--1">hola</span>
                                        <span class="design design--2"></span>
                                        <span class="design design--3"></span>
                                        <span class="design design--4"></span>
                                        <span class="design design--5"></span>
                                        <span class="design design--6"></span>
                                        <span class="design design--7"></span>
                                        <span class="design design--8"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /flip-card-container -->
                    </template>

        </main>


        <footer class="bg-gris h-[5rem]">

        </footer>

    </div>
</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../javaScript/store.js"></script>
<script src="../taildwind.config.js"></script>

</html>