<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <link rel="shortcut icon" href="../assets/images/SXESlogo.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Store</title>
</head>

<body>
    <div id="app">
        <header
        class="gradient bg-gris h-[6rem] w-full gap-4 relative flex items-center"
      >
        <!--LOGO -->
        <div class="w-24 ml-4">
          <img src="../assets/images/SXESlogo.png" alt="" />
        </div>

        <!--MENU HAMBURGUESA -->
        <div
          class="hamburg flex justify-right w-8 absolute right-10 top-8 md:hidden lg:hidden"
          v-if="navMenu == false"
          @click.prevent="showMenu()"
        >
          <img class="" src="../assets/images/menuHamb.png" alt="" />
        </div>

        <!--OPCION LOGIN -->
        <div  v-if="customer == null"
          class="login text-white text-sm absolute top-[0.56em] right-8 gap-2 items-center"
        >
          <p
            class="cursor-pointer bg-gris py-[0.2rem] px-2 rounded-md"
            @click.prevent="formLogIn()"
          >
            Log In
          </p>
          <p class="cursor-pointer" @click.prevent="formSignUp()">Sign Up</p>

         
        </div>

        <div v-if="customer != null" class="login flex text-white text-sm absolute top-[0.56em] right-8 gap-2 items-center">
          <p class="text-white">{{customer.name}} </p>
          <p class="cursor-pointer text-white" @click.prevent="logout()">|| Log out</p>
        </div>

        

        <!--NAVBAR ESCRITORIO -->
        <div class="navBar">
          <nav
            class="flex justify-around pb-2 text-white font-semibold text-lg w-[80%] absolute bottom-0"
          >
            <a href="#">Store</a>
            <a href="#">My account</a>
            <a href="#">Cart</a>
            <a href="#" class="">About Us</a>
          </nav>
        </div>

        <!--NAVBAR HAMBURGUESA -->
        <div v-if="navMenu == true">
          <nav
            class="pt-10 gradient text-white w-[15rem] md:w-[30%] h-[24rem] flex flex-col text-left absolute right-0 top-0 bg-gris gap-8 justify-center"
          >
            <a href="#" class="pl-6">Store</a>
            <a href="#" class="pl-6">My account</a>
            <a href="#" class="pl-6">Cart</a>
            <a href="#" class="pl-6">About Us</a>

            <div
              class="flex flex-col border-t-[0.1px] border-white/50 pt-4 gap-4"
            >
              <a href="#" class="pl-6" @click.prevent="formLogIn()">Log In</a>
              <a href="#" class="pl-6" @click.prevent="formSignUp()">Sign up</a>
            </div>

            <img
              src="../assets/images/closeMenu.png"
              alt=""
              class="w-6 absolute right-6 top-6"
              @click.prevent="showMenu()"
            />
          </nav>
        </div>
      </header>


        <main class="flex flex-col items-center h-full mb-16 gap-12">

            <img src="https://assets.xboxservices.com/assets/58/81/58819069-871d-4aea-baee-52bfd15d1977.jpg?n=Fortnite_Sneaky-Slider-1084_876951_1600x675.jpg"
                alt="" class="
            h-64 w-full object-cover object-top">

            <a href="">
                <img src="../assets/images/StoreIndex.png" alt="" id="storeButton" class="object-cover">
            </a>
            <button @click="patchData()" class="bg-amarillo">KFKFKFKFKFKF</button>


            <section class="flex w-[90%] ">
                <article class="w-3/5">
                    <h1>CART PRODUCTS</h1>
                    <div class="flex" v-for="games of juego">
                        <h1> {{game.title}} </h1>
                        <h1> {{game.price}} </h1>
                        <h1> {{game.quantity}} </h1>
                       
                       
                        

                        </div>
                        

                    </div>

                    

                </article>
                <article class="w-2/5 bg-gris">
                    <H1>PAYMENT DETAILS</H1>
                </article>

            </section>

























            <!-- TARJETAS DE JUEGOS -->
            <!-- <div class="flex w-[90%]  justify-center text-center  items-center  flex-wrap items-center justify-center">
                <template v-if="filteredGames.length > 0 " v-for="game of filteredGames">
                    <div class="flex flex-wrap gap-10 p-2  justify-be  items-center">
                        <div class="card h-[20rem] w-[20rem] gradient text-white rounded-md relative">
                            <a v-bind:href="'/pages/gamedetails.html?id='+game.id">
                                <img v-bind:src="game.image" alt="game image" />
                                <div class="p-2 text-wrap">
                                    <div class="flex justify-between items-center">
                                        <h1 class="text-lg font-semibold">{{game.title}}</h1>
                                        <h1 class="bg-morado p-2 font-semibold">
                                            {{Intl.NumberFormat('en-US', {style: 'currency',
                                            currency: 'USD'}). format(game.price)}}
                                        </h1>
                                    </div>

                                    <h1 class="text-sm line-clamp-3 pt-2">
                                        {{game.description}}
                                    </h1>
                                </div>
                                <div class="absolute bottom-2 left-2">
                                    <div v-for="genre of game.genre.slice(0, 4)" class="inline-block wrap-none">
                                        <p class="mr-2 p-[0.3rem] inline-block text-[0.7rem] bg-gris rounded-sm">
                                            {{genre}}
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
            </div>
            </template>
            <template v-else>
                <h2
                    class="flex justify-center font-bold  bg-amarillo text-black items-center border solid border-white justify-items-center h-[15rem] w-[15rem] border-solid-5 p-5 rounded-lg">
                    No found Games</h2>
            </template> -->

        </main>


        <footer class="bg-gris h-[5rem]">

        </footer>

    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="../javaScript/cart.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="../taildwind.config.js"></script>

</html>