<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css" />
    <link rel="shortcut icon" href="../assets/images/SXESlogo.png" type="image/x-icon" />
</head>

<body class="bg-gris text-white">
    <div id="app">
        <header class="gradient bg-gris h-[6rem] w-full gap-4 relative flex items-center">
            <!--LOGO -->
            <div class="w-24 ml-4">
                <img src="../assets/images/SXESlogo.png" alt="" />
            </div>

            <!--MENU HAMBURGUESA -->
            <div class="hamburg flex justify-right w-8 absolute right-10 top-8 md:hidden lg:hidden"
                v-if="navMenu == false" @click="navMenu=!navMenu">
                <img class="" src="../assets/images/menuHamb.png" alt="" />
            </div>

            <!--NAVBAR HAMBURGUESA -->
            <div v-else>
                <nav
                    class="pt-10 gradient text-white w-[15rem] md:w-[30%] h-[24rem] flex flex-col text-left absolute right-0 top-0 bg-gris gap-8 justify-center">
                    <a href="#" class="pl-6">Store</a>
                    <a href="#" class="pl-6">My account</a>
                    <a href="#" class="pl-6">Cart</a>
                    <a href="#" class="pl-6">About Us</a>

                    <div class="flex flex-col border-t-[0.1px] border-white/50 pt-4 gap-4">
                        <a href="#" class="pl-6" @click.prevent="formLogIn()">Log In</a>
                        <a href="#" class="pl-6" @click.prevent="formSignUp()">Sign up</a>
                    </div>

                    <img src="../assets/images/closeMenu.png" alt="" class="w-6 absolute right-6 top-6"
                        @click.prevent="showMenu()" />
                </nav>
            </div>

            <!-- LOGOUT -->
            <div class="login flex text-white text-sm absolute top-[0.56em] right-8 gap-2 items-center">
                <p class="text-white">{{customer.name}} </p>
                <p class="cursor-pointer text-white" @click.prevent="logout()">|| Log out</p>
            </div>



            <!--NAVBAR ESCRITORIO -->
            <div class="navBar">
                <nav class="flex justify-around pb-2 text-white font-semibold text-lg w-[80%] absolute bottom-0">
                    <a href="#">Store</a>
                    <a href="#">My account</a>
                    <a href="#">Cart</a>
                    <a href="#" class="">About Us</a>
                </nav>
            </div>


        </header>

        <main class="flex flex-col items-center h-full mb-16 gap-12">
            <img class="h-64 w-full object-cover object-top" id="banner" alt="banner"
                src="https://assets.xboxservices.com/assets/58/81/58819069-871d-4aea-baee-52bfd15d1977.jpg?n=Fortnite_Sneaky-Slider-1084_876951_1600x675.jpg" />
            <div id="profileSection">
                <h2 class=" text-2xl font-semi-bold" id="name">{{firstName}} {{lastName}}</h2>
            </div>
            <div class="flex flex-col px-2 items-center justify-evenly" id="librarySection">
                <h3 class=" text-2xl font-semi-bold">My library</h3>
                <a href="library.html">See all your games</a>
                <div class="cardContainer pb-6 flex flex-wrap justify-center">
                    <div v-for="games of games.slice(0, 4)" class="card gradient rounded-md h-72 w-80 hover:scale-105">
                        <a href="">
                            <img v-bind:src="games.image" alt="" class="h-[60%] object-cover" />
                            <div class="p-2 text-wrap h-auto">
                                <div class="flex justify-between items-center">
                                    <span class="text-lg font-semibold">{{games.title}}</span>
                                    <span class="bg-morado p-2 font-semibold">
                                        {{games.owned}}
                                    </span>
                                </div>
                                <div v-for="genre of games.genre.slice(0, 3)"
                                    class="h-auto inline-block my-2 wrap-none">
                                    <p class="mr-2 p-[0.3rem] inline-block text-[0.7rem] bg-gris rounded-sm">
                                        {{genre }}
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex flex-col px-2 items-center justify-evenly w-full" id="purchaseSection">
                <h3 class=" text-2xl font-semi-bold">My purchases</h3>
                <a href="purchases.html">See your entire purchase history</a>
                <table class="w-full border border-amarillo" id="purchasesTable">
                    <thead class="text-black bg-amarillo">
                        <tr>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody class="bg-gris text-center">
                        <tr :class="index % 2 == 0 ? 'bg-negro' : 'bg-gris'" v-for="(purchase, index) in purchases" :key="purchase.id">
                            <td>{{ purchase.purchaseDate }}</td>
                            <td>
                                <ul>
                                    <li v-for="game in purchase.games" :key="game.id">
                                       {{ game.game.title }}
                                    </li>
                                </ul>
                            </td>
                            <td>{{ new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(purchase.totalAmount) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>

        <footer class="bg-gris h-[5rem]"></footer>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../javaScript/profile.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../taildwind.config.js"></script>
</body>

</html>